.robotHeader {
    height: 10vh;
}
.robotFooter {
    height: 5vh;
}
.robotHeader,
.robotFooter {
    background-color: #117a8b52;
}
.robotHeader h1{
    margin: 0;
    padding-top: 2vh;
    font-size: 2rem;
    font-weight: 700;
}
.robotFooter h4 {
    font-size: 0.8rem;
    padding-top: 1.5vh;
}

.DetailProduct {
    margin: 10px 0px;
}
.main-image {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 250px;
    padding: 5px;
    background-position: center;
}
.secondaryImageContainer {
    display: flex;
    justify-content: center;
}

.secondary-images {
    height: auto;
    width: 50%;
    padding: 5px 5px 0px 5px;
    background-position: center;
}

.characterInfo {
    display: flex;
    justify-content: space-between;
}
.characterImage {
    height: 214px;
    width: auto;
    margin: 0 auto;
}

.image-container {
    text-align: center;
}


@media only screen and (max-width: 768px) {
    .DetailProduct {
        flex-direction: column-reverse;
    }
    .characterInfo {
        flex-direction: column;
    }
    .characterImageContainer {
        text-align: center;
    }
    .productContent {
        text-align: center;
        margin-bottom: 20px;
    }
}